
    /* Make checkboxes larger and more stylish */
    .custom-checkbox {
        width: 20px;
        height: 40px;
        cursor: pointer;
        accent-color:rgb(85, 94, 5); /* Stylish pink */
    }
    th, td {
        text-align: center; /* Center align checkboxes */
    }

    /* Style the dropdown */
    .custom-select {
        width: 200px; /* Adjust width */
        padding: 8px;
        border-radius: 8px;
        border: 1px solid rgb(85, 94, 5);; /* Pink border */
        background-color: white;
        font-size: 16px;
        cursor: pointer;
    }

    /* Style dropdown options */
    .custom-select option {
        padding: 10px;
        background-color: #fff;
        color: #333;
        font-size: 14px;
    }

    /* Hover effect on dropdown */
    .custom-select:hover {
        border-color:rgb(125, 216, 6);
    }

    /* Change color on selection */
    .custom-select:focus {
        outline: none;
        border-color:rgb(255, 0, 255);
        box-shadow: 0px 0px 5px rgb(255, 0, 255);
    }
